body{
    background-color: rgb(227, 176, 176);
}

.welcome{
    color: rgb(94, 255, 0);
    font-weight: 500;
    font-size: 20px;
}

.visible {
    display: block;
}

.not-visible{
    display: none;
}


.dadi .col{
    border: 3px solid rgb(74, 92, 197);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    font-size: 20px;
    font-weight: 600;
}

.col{
    text-align: center;
}

.player-1{
    color: rgb(53, 122, 21);
}

.player-2{
    color: rgb(170, 48, 194);
}